* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("library.jpg");
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

button {
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 500ms;
}

#form-button,
#submit-button {
    box-shadow: 0 0 5px 4px white;
    padding: 1rem;
    background-image: url("library.jpg");
    display: block;
    margin-left: auto;
    color: white;
    font-size: 1.2rem;
    position: relative;
    right: 1rem;
    width: 8.74rem;
    letter-spacing: .1rem;
    z-index: 1;
}

#form-button {
    top: 1rem;
    height: 4.5rem;
}

#submit-button {
    top: 7.7rem;
    right: -10rem;
    box-shadow: 0 0 7px 5px goldenrod;
}

#form-button:hover,
button:hover {
    background-size: cover;
    box-shadow: 0 0 7px 5px goldenrod;
    cursor: pointer;
}

#form {
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    position: absolute;
    top: -16rem;
    right: 11rem;
    border-radius: 10px;
    border: 2px solid goldenrod;
    box-shadow: 0 0 5px 4px goldenrod;
    transition: 500ms;
    z-index: 1;
}

#labels-wrapper {
    font-weight: bold;
    color: goldenrod;
    letter-spacing: .1rem;
    border-radius: 5px;
}

#labels-wrapper,
#inputs-wrapper {
    display: flex;
    flex-direction: column;
}

label {
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid goldenrod;
    border-radius: 5px;
    margin: .45rem 0 .45rem 0;
    padding: .5rem .2rem .5rem .5rem;
}

input,
select {
    margin-top: .5rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
    padding: .54rem .5rem;
    outline: none;
    border: none;
    color: goldenrod;
    border-bottom: 1px solid goldenrod;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
}

.error {
    border: 1px solid rgb(255, 49, 49);
}

::placeholder {
    color: goldenrod;
    font-style: italic;
}

#bookcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: auto;
    row-gap: 4rem;
    position: relative;
    top: -6rem;
    padding: 0 10rem 2rem 10rem;
    min-height: 100vh;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 8rem;
    height: 8rem;
    padding: .5rem;
    font-weight: bold;
    box-shadow: 2px 5px 10px black;
}

.author {
    font-size: .7rem;
    text-align: right;
}

.remove-button,
.status-button {
    width: 3.6rem;
    padding: .2rem;
    margin-top: .5rem;
    box-shadow: 0 0 5px white;
}

.remove-button {
    margin-right: .8rem;
    background: rgb(255, 49, 49);
}

.status-btn {
    background: rgb(255, 246, 204);
}

footer {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    font-size: .7rem;
    padding: 1rem;
    margin-bottom: -.5rem;
}

footer a {
    text-decoration: none;
    color: goldenrod;
    font-weight: bold;
}
