* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("library.jpg");
    backdrop-filter: blur(3px);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    box-shadow: 0 0 5px 4px white;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-image: url("library.jpg");
    display: block;
    margin-left: auto;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 500ms;
    outline: none;
    position: relative;
    right: 1rem;
    top: 1rem;
}

button:hover {
    background-size: cover;
    box-shadow: 0 0 7px 5px goldenrod;
    cursor: pointer;
}

#form {
    /* display: none; */
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    position: absolute;
    top: 1rem;
    right: 11rem;
    border-radius: 5px;
    border: 2px solid goldenrod;
    box-shadow: 0 0 5px 4px goldenrod;
}

#label-wrapper {
    font-weight: bold;
    color: goldenrod;
    letter-spacing: .1rem;
    border-radius: 5px;
}

label {
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid goldenrod;
    border-radius: 5px;
    margin: .45rem 0 .45rem 0;
    padding: .5rem .2rem .5rem .5rem;
}

input,
select {
    margin-top: .5rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
    padding: .54rem .5rem;
    outline: none;
    border: none;
    color: goldenrod;
    border-bottom: 1px solid goldenrod;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
}

::placeholder {
    color: goldenrod;
    font-style: italic;
}

article {
    display: flex;
    flex-direction: column;
}

footer {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: .7rem;
    padding: 1rem;
}

footer a {
    text-decoration: none;
    color: goldenrod;
    font-weight: bold;
}
