@import "variables";
@import "mixins";
@import "headings";
@import "classes";

button {
    @include button;
}

header {

    #nav-upper {
        margin: 1.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .fa-bars {
            font-size: 2rem;
            color: $purple;
        }

        #logo {
            max-width: 70%;
            position: relative;
            top: .6rem;
            left: .7rem;
        }
    }

    #nav-upper-left {
        width: 70%;
    }

    #nav-upper-right {
        display: flex;
        justify-content: space-between;
        width: 30%;
        margin-right: -2rem;
    }
}

#hero {

    margin-bottom: 1.9rem;
    background-image: url('../images/hero.jpg');
    background-position: center;
    background-size: cover;
    min-height: 21.3rem;

    #hero-text-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 5rem;
        left: 1rem;

        a {
            text-decoration: none;
            color: $purple;
            font-weight: bold;
            font-size: 1.7rem;
        }

        .tagline {
            background: $white;
            padding: .4rem;
        }

        .play {
            position: relative;
            top: .6rem;
            padding: .5rem;
        }
    }
}

#section2,
#section4 {
    @include grey-card;
}

#section3,
#section6,
#section7,
#section8 {
    @include white-card;
}

#section5,
#section9 {
    @include purple-card;
}

#section6,
#section7 {
    .text-wrapper {
        padding: 0;
    }
}

#section8 {
    .text-wrapper {
        background: $lightgrey;
    }
}

#section9 {
    margin-top: -1.5rem;

    h6, h5 {
        color: $white;
    }

    .card {
        background: transparent;
        border: 1px solid $lightpurple;
        margin: 1.5rem .75rem;
        padding: 1.5rem;
        line-height: 1.6;
    }

    button {
        @include button;
        background: transparent;
        color: $limegreen;
        border-color: $limegreen;
        padding: 1rem 1.4rem;
    }
}

#section10 {

    display: flex;
    flex-direction: column;
    background: $lightgrey;
    padding-top: 3rem;
    font-size: .85rem;
    
    .list-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .text-wrapper {
        width: 50%;
    }

    li {
        list-style: none;
        line-height: 2rem;
    }

    a {
        text-decoration: none;
        color: $purple;
    }

    #list4 {
        color: $purple;
        font-weight: bold;
        font-size: .75rem;

        img {
            width: 5rem;
            margin-top: 1rem;
        }

        #invent-logo {
            width: 9rem;
        }
    }
}

#section11 {
    color: $purple;
    background: $lightgrey;
    text-align: center;
    padding-top: 5rem;
    font-size: .9rem;

    .footer-text-wrapper {
        margin: 3.5rem 0 3rem;
    }

    .icon-wrapper {
        margin: 0 .2rem;
    }
    img {
        width: 2.5rem;
        margin: 0 .2rem;
    }

    #footer-logo {
        width: 15rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 768px) {

    .medium-screen {
        display: block;
    }

    #nav-upper-right {
        position: relative;
        right: 7rem;
        width: 30rem;
    }

    #site,
    #search {
        display: flex;
        flex-direction:row;
        white-space: nowrap;
        margin-right: 4rem;

        i, p {
            margin-right: .6rem;
        }
    }

    #section10 {
        flex-direction: row;
        justify-content: space-around;
    }
}
